*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}


.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid hsl(200, 50%, 90%);
    font-family: "Lato", sans-serif;
}

.header__nav__container {
    display: flex;
    align-items: center;
}

.header__nav__container:nth-child(3) {
    margin-right: 10px;
}

.header__nav__menu__img {
    width: 16px;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
}

.header__nav__menu__img.hidden {
    display: none;
}

.header__nav__menu__title {
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.header__nav__menu__title:hover {
    text-decoration: underline;
}

.header__nav__banner__img {
    width: 200px;
    height: auto;
    cursor: pointer;
}


.header__nav__buttons__button {
    padding: 5px 10px;
    padding-top: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(86, 123, 149);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.header__nav__buttons__button:hover {
    background-color: rgb(50, 104, 145);
}

@media only screen and (max-width: 1024px) {
    .header__nav__menu__title {
        display: none;
    }
    .header__nav__menu__img:nth-child(2) {
        display: none;
    }
    .header__nav__buttons__button {
        display: none;
    }
    .header__nav__menu__img.hidden {
        display: block;
    }
}

/* Main  */


.main__article {
    max-width: 1200px;
    margin: 20px auto;
}

.main__article__header {
    max-width: 600px;
    margin: auto auto;
}

.main__article__header__title {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
    line-height: 1.25;
    font-style: italic;
    border-bottom: 1px solid hsl(200, 30%, 80%);
}

.main__article__header__social {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main__article__header__social img {
    width: 30px;
    margin-left: 10px;
    padding: 7px;
    border-radius: 100%;
    background-color: hsl(210, 50%, 90%);
    border: 1px solid white;
    cursor: pointer;
}

.main__article__header__social img:hover {
    background-color: white;
    border: 1px solid hsl(210, 30%, 90%);
}

.main__article__header__social .main__article__header__social__img {
    border: none;
    padding: 0;
    border-radius: 0%;
    width: 30px;
    background-color: white;
    
}

.main__article__figure__figure {
    width: 100%;
}

.main__article__figure__figure img {
    width: 100%;
}

.main__article__figure__figure__figcaption {
    width: 80%;
    margin-top: 10px;
    line-height: 1.25;
}

.main__article__figure__figure__figcaption span {
    color: hsl(220, 10%, 60%);
    font-size: 14px;
}

.main__article__content {
    max-width: 600px;
    margin: auto auto;
}

.main__article__content p {
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.main__article__content a {
    text-decoration: none;
    color: hsl(220, 50%, 50%);
}

.main__article__content .content__footer {
    font-size: 14px;
    color: hsl(200, 10%, 50%);
}

.main__article__content .content__footer_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__footer_menu .content__footer_menu__button {
    padding: 10px 50px;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(86, 123, 149);
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.content__footer_menu__options img {
    width: 30px;
    margin-left: 10px;
    padding: 7px;
    border-radius: 100%;
    background-color: hsl(210, 50%, 90%);
    border: 1px solid white;
    cursor: pointer;
}

.content__footer_menu__options img:hover {
    background-color: white;
    border: 1px solid hsl(210, 30%, 90%);
}

.main__article__content .bold {
    font-weight: 700;
}

.main__article__content__fig_about {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main__article__content__fig_about p {
    font-weight: bold;
    padding: 10px 0;
}



.main__article__content__fig_about time {
    font-size: 12px;
    color: hsl(220, 10%, 60%);
}

.main__article__figure__about {
    margin-top: 20px;
    line-height: 1.25;
    margin-bottom: 20px;
}

.main__article__figure__about .bold {
    font-weight: bold;
}


.main__article__figure__overlay {
    margin-top: 10px;
    background-image: url('./assets/inflation-945.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.main__article__figure__overlay .main__article__figure__overlay__part {
    margin-top: 220px;
    line-height: 1.25;
}

.main__article__figure__overlay__part span {
    font-weight: 700;
}

.main__article__figure__footer {
    margin-bottom: 40px;
}

.main__article__figure__footer hr {
    width: 50px;
    margin: 20px 0;
    border: none;
    height: 3px;
    background-color: #333;
}

.main__article__content__video {
    margin: 30px 0;
}

.main__article__content__video iframe {
    width: 100%;
    height: 300px;
}

.main__article__content__video figcaption {
    margin-top: 10px;
    line-height: 1.25;
}

.main__article__content__video span {
    color: hsl(210, 30%, 60%);
    font-size: 14px;
}

@media only screen and (max-width: 1024px) {
    .main {
        padding: 10px;
    }
    .main__article__figure__overlay {
        display: none;
    }
}

/* Recommendation */

.main__recommend {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
}

.main__recommend__recommend {
    flex: 3;
    margin-right: 20px;
    margin-left: 20px;
    border-top: 1px solid hsl(200, 10%, 10%);
}

.main__recommend__recommend__newsletters {
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.main__recommend__recommend__newsletters .header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.main__recommend__recommend__newsletters .header .title {
    font-weight: 700;
}

.main__recommend__recommend__newsletters .header .sub-title {
    color: hsl(210, 10%, 50%);
    font-size: 14px;
}

.main__recommend__recommend__newsletters .content {
    display: flex;
}

.main__recommend__recommend__newsletters .content .newsletter {
    flex: 1;
}

.newsletter {
    position: relative;
    border: 1px solid hsl(210, 10%, 80%);
    margin-right: 10px;
    padding: 15px;
    padding-bottom: 30px;
    cursor: pointer;
}


.newsletter img {
    width: 80px;
}

.newsletter span {
    display: block;
    color: hsl(210, 10%, 50%);
    font-size: 14px;
    margin: 5px 0;
}

.newsletter h4 {
    font-weight: 700;
    font-size: 18px;
    margin: 5px 0;
}

.newsletter p {
    line-height: 1.25;
    margin: 5px 0;
}

.newsletter a {
    text-decoration: none;
    position: absolute;
    bottom: 10px;   
    color: hsl(210, 50%, 50%);
    font-weight: bold;
    font-size: 14px;
}

.newsletter .add {
    position: absolute;
    width: 40px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 100%;
    top: 15px;
    right: 15px;
}

@media only screen and (max-width: 1300px) {

    .main__recommend__popular {
    }

    .main__recommend__recommend__newsletters .content {
        display: block;
    }
    .main__recommend__recommend__newsletters .content .newsletter {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .main__recommend__popular {
        display: none;
    }
}

/* More in Astronomy and Space */

.main__recommend__recommend__more .header {
    margin: 20px 0;
}

.main__recommend__recommend__more .header .title {
    font-weight: 700;
}

.main__recommend__recommend__more .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
}

.astro__post {
    flex-basis: 300px;
}

.astro__post img {
    width: 300px;
}

.astro__post figcaption {
    font-size: 12px;
    color: hsl(200, 10%, 50%);
    text-align: right;
    margin: 5px 0;
}

.astro__post h2 {
    font-weight: 700;
    line-height: 1.25;
}

.astro__post time {
    font-size: 14px;
    color: hsl(200, 10%, 50%);
}

@media only screen and (max-width: 1200px) {
    .main__recommend__recommend__more .content {
        grid-template-columns: 1fr 1fr;
    }
    .astro__post img {
        width: 100%;
    }
}

/* Most Popular Article */

.main__recommend__popular {
    flex: 1;
    border-top: 1px solid hsl(200, 10%, 10%);
}

.main__recommend__popular .header {
    margin: 20px 0;
}

.main__recommend__popular .header span {
    font-weight: bold;
}

.main__recommend__popular .content div {
    padding: 15px 0;
    border-top: 1px solid hsl(200, 30%, 80%);
}

.main__recommend__popular .content div p {
    line-height: 1.25;
    cursor: pointer;
}

.main__recommend__popular .content div p:hover {
    color: hsl(200, 10%, 40%);
}

/* Footer */

.footer {
    margin-top: 30px;

}

.footer__container {
    max-width: 1200px;
    margin: 20px auto;
    margin-bottom: 10px;
}

.footer__container hr {
    border: 2px solid hsl(200, 10%, 90%);
}

.footer__container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__container__header .logo {
    width: 200px;
}

.footer__container__header a {
    text-decoration: none;
    font-size: 12px;
    color: hsl(210, 10%, 40%);
    cursor: pointer;
}

.footer__container__sections {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(210, 10%, 80%);
}

.footer__container__sections__section {
    padding: 10px;
}

.footer__container__sections__section.border {
    border-left: 1px solid hsl(210, 10%, 80%);
}

.footer__container__sections__section h4 {
    font-weight: 700;
    font-size: 13px;
}

.footer__container__sections__section__content.border {
    border-bottom: 1px solid hsl(200, 10%, 80%);
}

.footer__container__sections__section__content a {
    display: block;
    margin: 10px 0;
    font-size: 13px;
    color: hsl(210, 10%, 10%);
    text-decoration: none;
}

.footer__container__sections__section__content.small a {
    font-size: 12px;
}

.footer__container__sections__section__content a.bold {
    font-weight: bold;
    font-size: 14px;
}


.footer__container__sections__section__content a:hover {
    text-decoration: underline;
}

.footer__about {
    margin-bottom: 40px;
    text-align: center;
}
.footer__about .link {
    font-size: 12px;
    text-decoration: none;
    color: hsl(210, 10%, 50%);
    margin-left: 5px;
    margin-right: 5px;
}

.footer__about .link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    .footer {
        padding: 10px;
    }
    .footer__container__sections {
        grid-template-columns: 1fr;
    }

    .footer__container__sections__section {
        border-top: 1px solid hsl(200, 10%, 80%);
        padding-left: 0;
    }

    .footer__container__sections__section h4 {
        cursor: pointer;
    }

    .footer__container__sections__section.border {
        border-left: 0;
    }

    .footer__container__sections__section__content {
        display: none;
    }
}